mixin createpostForm(userName)
     .postformContainer 
        .userImageContainer 
           img(src=userName.profile, alt="profilc")
        .textContainer 
            textarea#postText(placeholder="What's happening?")
            .buttonCotainer 
               button#submitPost(disabled="") Post

mixin createReplyModal(userName)
     .modal.fade#replyModal(tabindex='-1',role='dialog', aria-labelledby='replyModalLabel', aria-hidden='false')
        .modal-dialog(role='document')
            .modal-content
               .modal-header
                  h5#replyModalLabel.modal-title Reply
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                     span(aria-hidden='false') &times;
               .modal-body
                  .originalPostContainer
                  .postformContainer 
                     .userImageContainer 
                        img(src=userName.profile || "", alt="profilc")
                     .textContainer 
                           textarea#replyText(placeholder="What's happening?")
               .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                  button#sumbitReplyButton.btn.btn-primary(type='button' disabled="") Reply    

mixin createDeletePostModal()
     .modal.fade#deletePostModal(tabindex='-1',role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='false')
        .modal-dialog(role='document')
            .modal-content
               .modal-header
                  h5#deletePostModalLabel.modal-title Delete the post?
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                     span(aria-hidden='false') &times;
               .modal-body
                 .originalPostContainer 
               .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                  button#deletePostButton.btn.btn-primary(type='button') Delete                  

mixin createPostModals(userName)
     +createReplyModal(userName)
     +createDeletePostModal()
     +createPinnedPostModal()
     +createUnPinPostModal()

mixin createFollowButton(user, isFollowing)
         - text = isFollowing ? "Following" : "Follow"
         - buttonClass = isFollowing? "followButton following" : "followButton"
         button(class = buttonClass, data-user = user._id) #{text}

mixin createTab(name , href ,isSelected)
          -clasName = isSelected ?"tab active" : "tab"
          a(href = href, class= clasName)
             span #{name}

mixin createImageUploadModal()
     .modal.fade#imageUploadModal(tabindex='-1',role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='false')
        .modal-dialog(role='document')
            .modal-content
               .modal-header
                  h5#imageUploadModalLabel.modal-title Upload a new profile picture.
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                     span(aria-hidden='false') &times;
               .modal-body
                 input#filePhoto(type="file", name="filePhoto")
                 .imagePreviewContainer
                  img#imagePreview(src="", alt="") 
               .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                  button#imageUploadButton.btn.btn-primary(type='button') Save             

mixin createCoverPhotoUploadModal()
     .modal.fade#coverPhotoUploadModal(tabindex='-1',role='dialog', aria-labelledby='coverPhotoModalLabel', aria-hidden='false')
        .modal-dialog(role='document')
            .modal-content
               .modal-header
                  h5#coverPhotoUploadModalLabel.modal-title Upload a new cover photo
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                     span(aria-hidden='false') &times;
               .modal-body
                 input#coverPhoto(type="file", name="filePhoto")
                 .imagePreviewContainer
                  img#coverPreview(src="", alt="") 
               .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                  button#coverPhotoButton.btn.btn-primary(type='button') Save               

mixin createPinnedPostModal()
     .modal.fade#confirmPinModal(tabindex='-1',role='dialog', aria-labelledby='confirmPinModalLabel', aria-hidden='false')
        .modal-dialog(role='document')
            .modal-content
               .modal-header
                  h5#confirmPinModalLabel.modal-title Pin this post?
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                     span(aria-hidden='false') &times;
               .modal-body
                 p This post will appear at the top of you profile. You can only
               .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                  button#pinPostButton.btn.btn-primary(type='button') Pin

mixin createUnPinPostModal()
     .modal.fade#unPinModal(tabindex='-1',role='dialog', aria-labelledby='unPinModalLabel', aria-hidden='false')
        .modal-dialog(role='document')
            .modal-content
               .modal-header
                  h5#unPinModalLabel.modal-title Unpin this post?
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                     span(aria-hidden='false') &times;
               .modal-body
                 p This post will be unpinned.
               .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                  button#unPinPostButton.btn.btn-primary(type='button') Pin                      
                                               