mixin createpostForm()
     .postformContainer 
        .userImageContainer 
           img(src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", alt="profilc")
        .textContainer 
            textarea#postText(placeholder="What's happening?")
            .buttonCotainer 
               button#submitPost(disabled="") Post