extends layouts/main-layout.pug

block content 
  if !profileUser
       span.errorMessage User not found
  else 
      script. 
            let profileUserId = '!{profileUser._id}' 
            let selectedTab = '!{selectedTab}'
            

      .tabConatiner 
        +createTab("Following", `/profile/${profileUser.userName}/following`, selectedTab !== "followers")
        +createTab("Followers", `/profile/${profileUser.userName}/followers`, selectedTab == "followers")

      .resultContainer 
      
block script 
      script(src="/Functions/followersAndFollowing.js") 