extends layouts/login-layout.pug

block content 
  .loginContainer 
    h1 Login
    form#login(method="post" onSubmit="event.preventDefault(); validate()")
           p.errorM #{errorM}
           input(type="text", name="loginUser", placeholder="User Name or Email", value= "r@g.com", required="") 
           input(type="password", name="logPassword", placeholder="Password", value ="123" required="")
           input(type="submit" , value="login")
    a(href="/register") Need an account ? Register here  

    script.
      
      let form = document.getElementById("login");
    
      function validate(){
              form.submit();
      }

